<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Top Ten Jukebox</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Mukta+Malar:400,700|Codystar|Raleway" rel="stylesheet">
	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="/js/app.js"></script>
	
</head>
<body>
	<div class="container">
		<div class="top">
			<div class="infoDiv">
				<p class="infoText">Select Date</p>
			</div>
			<div class="controls">
				<div class="dateDiv">
					<div class="quarter">
						<div class="slot"></div>
					</div>
					<div class="dateText">Date</div>
					<input class="date" type="date" name="date" min="1960-01-01" max="2015-12-31">
					<button class="button buttonSubmit">GO</button>
				</div>
				<div class="buttonDiv">
					<button class="button buttonPlay"><span>P</span><span>L</span><span>A</span><span>Y</span></button>
					<button class="button selectButton" id="button1">1</button>
					<button class="button selectButton" id="button2">2</button>
					<button class="button selectButton" id="button3">3</button>
					<button class="button selectButton" id="button4">4</button>
					<button class="button selectButton" id="button5">5</button>
					<button class="button selectButton" id="button6">6</button>
					<button class="button selectButton" id="button7">7</button>
					<button class="button selectButton" id="button8">8</button>
					<button class="button selectButton" id="button9">9</button>
					<button class="button selectButton" id="button10">10</button>
					<button class="button buttonStop"><span>S</span><span>T</span><span>O</span><span>P</span></button>
				</div>
			</div>
		</div>
		<div class="selections">
			<a class="s1" href="#" target="_blank"><div class="song song1">
				<div class="songTitle title1">"Song Title"</div>
				<div class="artist artist1">Artist</div>
				<div class="select">#1</div>
				<div class="icons">
					<div class="headphones headphones1"><i class="fas fa-headphones"></i></div>
					<div class="spotify spotify1"><i class="fab fa-spotify"></i></div>
				</div>
			</div></a>
			<a class="s2" href="#" target="_blank"><div class="song song2">
				<div class="songTitle title2">"Song Title"</div>
				<div class="artist artist2">Artist</div>
				<div class="select">#2</div>
				<div class="icons">
					<div class="headphones headphones2"><i class="fas fa-headphones"></i></div>
					<div class="spotify spotify2"><i class="fab fa-spotify"></i></div>
				</div>
			</div></a>
			<a class="s3" href="#" target="_blank"><div class="song song3">
				<div class="songTitle title3">"Song Title"</div>
				<div class="artist artist3">Artist</div>
				<div class="select">#3</div>
				<div class="icons">
					<div class="headphones headphones3"><i class="fas fa-headphones"></i></div>
					<div class="spotify spotify3"><i class="fab fa-spotify"></i></div>
				</div>
			</div></a>
			<a class="s4" href="#" target="_blank"><div class="song song4">
				<div class="songTitle title4">"Song Title"</div>
				<div class="artist artist4">Artist</div>
				<div class="select">#4</div>
				<div class="icons">
					<div class="headphones headphones4"><i class="fas fa-headphones"></i></div>
					<div class="spotify spotify4"><i class="fab fa-spotify"></i></div>
				</div>
			</div></a>
			<a class="s5" href="#" target="_blank"><div class="song song5">
				<div class="songTitle title5">"Song Title"</div>
				<div class="artist artist5">Artist</div>
				<div class="select">#5</div>
				<div class="icons">
					<div class="headphones headphones5"><i class="fas fa-headphones"></i></div>
					<div class="spotify spotify5"><i class="fab fa-spotify"></i></div>
				</div>
			</div></a>
			<a class="s6" href="#" target="_blank"><div class="song song6">
				<div class="songTitle title6">"Song Title"</div>
				<div class="artist artist6">Artist</div>
				<div class="select">#6</div>
				<div class="icons">
					<div class="headphones headphones6"><i class="fas fa-headphones"></i></div>
					<div class="spotify spotify6"><i class="fab fa-spotify"></i></div>
				</div>
			</div></a>
			<a class="s7" href="#" target="_blank"><div class="song song7">
				<div class="songTitle title7">"Song Title"</div>
				<div class="artist artist7">Artist</div>
				<div class="select">#7</div>
				<div class="icons">
					<div class="headphones headphones7"><i class="fas fa-headphones"></i></div>
					<div class="spotify spotify7"><i class="fab fa-spotify"></i></div>
				</div>
			</div></a>
			<a class="s8" href="#" target="_blank"><div class="song song8">
				<div class="songTitle title8">"Song Title"</div>
				<div class="artist artist8">Artist</div>
				<div class="select">#8</div>
				<div class="icons">
					<div class="headphones headphones8"><i class="fas fa-headphones"></i></div>
					<div class="spotify spotify8"><i class="fab fa-spotify"></i></div>
				</div>
			</div></a>
			<a class="s9" href="#" target="_blank"><div class="song song9">
				<div class="songTitle title9">"Song Title"</div>
				<div class="artist artist9">Artist</div>
				<div class="select">#9</div>
				<div class="icons">
					<div class="headphones headphones9"><i class="fas fa-headphones"></i></div>
					<div class="spotify spotify9"><i class="fab fa-spotify"></i></div>
				</div>
			</div></a>
			<a class="s10" href="#" target="_blank"><div class="song song10">
				<div class="songTitle title10">"Song Title"</div>
				<div class="artist artist10">Artist</div>
				<div class="select">#10</div>
				<div class="icons">
					<div class="headphones headphones10"><i class="fas fa-headphones"></i></div>
					<div class="spotify spotify10"><i class="fab fa-spotify"></i></div>
				</div>
			</div></a>	
		</div>
	</div>
	<footer>
  <div id="author">&copy; Jarrod Yellets | 2018</div>
</body>
</html>